.fw-1 {
  font-weight: 100;
}

.fw-2 {
  font-weight: 200;
}

.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.fw-9 {
  font-weight: 900;
}

.text-xsmall {
  font-size: 0.5rem;
}

.text-small {
  font-size: 0.8rem;
}

.text-medium {
  font-size: 1.2rem;
}

.text-large {
  font-size: 1.75rem;
}

.text-xlarge {
  font-size: 2rem;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.text-dbar {
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
}
.text-dbar::before, .text-dbar::after {
  position: absolute;
  content: "";
  display: block;
  height: 0.1em;
  width: 100%;
  background-color: #d3d3d3;
}
.text-dbar::before {
  top: 0;
}
.text-dbar::after {
  bottom: 0;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.h-10 {
  height: 10%;
}

.h-20 {
  height: 20%;
}

.h-30 {
  height: 30%;
}

.h-40 {
  height: 40%;
}

.h-50 {
  height: 50%;
}

.h-60 {
  height: 60%;
}

.h-70 {
  height: 70%;
}

.h-80 {
  height: 80%;
}

.h-90 {
  height: 90%;
}

.h-100 {
  height: 100%;
}

.c-box {
  box-sizing: content-box;
}

.b-box {
  box-sizing: border-box;
}

/* general classes */
.flex {
  display: flex;
  flex-direction: row;
}

.flex-column, main section {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center, main section {
  align-items: center;
  justify-content: center;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.p-5 {
  padding: 5rem;
}

.p-6 {
  padding: 6rem;
}

.p-7 {
  padding: 7rem;
}

.p-8 {
  padding: 8rem;
}

.flex-gap-1 {
  gap: 0.5rem;
}

.flex-gap-2 {
  gap: 1rem;
}

.flex-gap-3 {
  gap: 1.5rem;
}

.flex-gap-4 {
  gap: 2rem;
}

.flex-gap-5 {
  gap: 2.5rem;
}

.flex-gap-6 {
  gap: 3rem;
}

.flex-gap-7 {
  gap: 3.5rem;
}

.flex-gap-8 {
  gap: 4rem;
}

.box {
  border: 1px solid #d3d3d3;
  background-color: white;
  border-radius: 0.2em;
}

@media screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .desktop-only {
    display: none;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: cocogoose, sans-seriff;
  font-family: Lato, sans-seriff;
  background-color: #f5f5f8;
  color: #545b6a;
}

ul {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: underline;
  font-weight: bold;
  color: inherit;
}

button {
  border: none;
  font-family: inherit;
  display: block;
  cursor: pointer;
  padding: 1.4em;
  font-weight: bold;
  font-size: 1.2rem;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.icon {
  width: 2em;
  height: 2em;
}

header {
  height: 5rem;
  color: #272a31;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}
header .hamburger .icon {
  width: 3rem;
  height: 3rem;
}

main section .icon {
  color: #f5f5f8;
}

main section + section {
  border-top: 1px solid #d3d3d3;
  margin-top: 8rem;
}

main section {
  padding: 1rem;
  gap: 2rem;
}
main section h1 .sub-heading {
  color: #ec5242;
  font-size: 1.5rem;
  font-family: Lato;
}
main section h1 {
  color: #ec5242;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: cocogoose;
}
main section h2 {
  position: relative;
  text-align: center;
}
main section h2::after {
  bottom: 0;
  content: "";
  display: block;
  height: 0.1em;
  width: 1.5em;
  border-radius: 0.05em;
  margin: 0 auto;
  margin-top: 0.8em;
  background-color: #ec5242;
}

section.partner {
  background-color: #32363f;
  color: #f5f5f8;
}
section.partner ul {
  gap: 2rem;
  padding: 2rem;
}
section.partner ul li {
  display: block;
  filter: grayscale(100%) contrast(30%);
  height: 2rem;
}
section.partner ul li img {
  object-fit: contain;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 0;
  font-family: "cocogoose";
}
footer .left {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}
footer .right {
  font-size: 0.7rem;
  font-weight: 200;
}

main section {
  text-align: center;
}

@media screen and (min-width: 768px) {
  section.welcome {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

.prev-summits .image {
  width: 20rem;
  height: 12rem;
  background-color: yellowgreen;
  position: relative;
}
.prev-summits .image::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(232, 48, 29, 0.6);
}
.prev-summits .image .image-text {
  font-family: cocogoose;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #f5f5f8;
}
.prev-summits .image .image-text .heading {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.5em;
}
.prev-summits .image .image-text .description {
  font-weight: 300;
  text-align: center;
}

.copyright-box {
  padding: 1rem;
  gap: 1rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .copyright-box {
    width: unset;
  }
}
.copyright-box .icon {
  width: 4rem;
  height: 4rem;
}
.copyright-box .copyright-text {
  line-height: 1.1;
}
.copyright-box .copyright-text p:nth-child(1) {
  font-size: 2rem;
  letter-spacing: 0.25rem;
  color: #272a31;
}
.copyright-box .copyright-text p:nth-child(2) {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: #272a31;
}
.copyright-box .copyright-text p:nth-child(3) {
  font-size: 0.7rem;
  letter-spacing: 0;
  line-height: 1.8;
}

/*# sourceMappingURL=about.css.map */
