* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: cocogoose, sans-seriff;
}

ul {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
}

button {
  border: none;
}

img {
  display: block;
}
