
@forward 'color';
@forward 'text';
@forward 'classes';

@use 'color' as *;
@use 'text' as *;
@use 'classes' as *;


@mixin on-desktop {
  @media screen and (min-width: 768px) {
    @content
  }
}

@mixin on-mobile {
  @media screen and (max-width: 767px) {
    @content
  }
}

.mobile-only {
  @include on-desktop {
    display: none;
  }
}

.desktop-only {
  @include on-mobile {
    display: none;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  // font-size: 10px;
}

body {
  font-family: cocogoose, sans-seriff;
  font-family: Lato, sans-seriff;
  background-color: $white;
  color: lighten($color1, 20%);
}

ul {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: underline;
  font-weight: bold;
  color: inherit;
}

button {
  border: none;
  font-family: inherit;
  display: block;
  cursor: pointer;
  padding: 1.4em;
  font-weight: bold;
  font-size: 1.2rem;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.icon {
  width: 2em;
  height: 2em;
  // background-color: crimson;  @warn('TODO: remove this background-color');
}

header {
  height: 5rem;
  // box-shadow: 0 2px 2px $color3;
  color: $color1;
  display: flex;
  align-items: center;
  padding: 0 2rem;

  .hamburger .icon {
    width: 3rem;
    height: 3rem;
  }

}

main section .icon  {
  color: $white;
}

main section + section {
  border-top: 1px solid $color3;
  margin-top: 8rem;
}

main section {
  @extend .flex-column;
  @extend .flex-center;

  padding: 1rem;
  gap: 2rem;

  h1 .sub-heading {
    color: $orange;
    font-size: 1.5rem;
    font-family: Lato;
  }

  h1 {
    color: $orange;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: cocogoose;
  }

  h2 {
    position: relative;
    text-align: center;
  } 

  h2::after {
    $h: 0.1em;
    bottom: 0;
    content: "";
    display: block;
    height: $h;
    width: 1.5em;
    border-radius: $h * 0.5;
    margin: 0 auto;
    margin-top: 0.8em;
    background-color: $orange;
  }
} 

section.partner {
	background-color: lighten($color1, 5%);
	color: $white;

	ul {
		gap: 2rem;
		padding: 2rem;
	}

	ul li {
		display: block;
		filter: grayscale(100%) contrast(30%);
		height: 2rem;
	}

	ul li img {
		object-fit: contain;
		// padding: 1rem;
		// box-sizing: content-box;
	}
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
  padding: 4rem 0;
  font-family: "cocogoose";

  .left  {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
  }

  .right {
    font-size: 0.7rem;
    font-weight: 200;
  }
}


%pseudo {
  display: block;
  content: "";
  position: absolute;
}