
@forward 'color';
@forward 'text';
@forward 'classes';

@use 'color' as *;
@use 'text' as *;
@use 'classes' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: cocogoose, sans-seriff;
  font-family: Lato, sans-seriff;
  background-color: $white;
}

ul {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
}

button {
  border: none;
  font-family: inherit;
  display: block;
  cursor: pointer;
  padding: 1.4em;
  font-weight: bold;
  font-size: 1.2rem;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.icon {
  width: 2em;
  height: 2em;
  background-color: crimson;  @warn('TODO: remove this background-color');
}

header {
  height: 4rem;
  box-shadow: 0 2px 2px $color3;
}

header {
  display: flex;
  align-items: center;
}

main section + section {
  border-top: 1px solid $color3;
}

section {
  @extend .flex-column;
  @extend .flex-center;

  padding: 1rem;

  gap: 2rem;

  .sub-heading {
    color: $orange;
    font-size: 1.5rem;
  }

  h1 {
    color: $orange;
    font-size: 3.5rem;
  }

  h2 {
    position: relative;
    width: max-content;
  } 

  h2::after {
    $h: 0.1em;
    bottom: 0;
    content: "";
    display: block;
    height: $h;
    width: 2em;
    border-radius: $h * 0.5;
    margin: 0 auto;
    margin-top: 0.8em;
    background-color: $orange;
  }
} 

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  padding: 4rem 0;

  .left  {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1;
  }
}


%pseudo {
  display: block;
  content: "";
  position: absolute;
}