@use 'global' as *;

main section {
	text-align: center;
}

.prev-summits {

	.image {
		width: 20rem;
		height: 12rem;
		background-color: yellowgreen; @warn("TODO: remove this");
		position: relative;

		&::before {
			position: absolute; @warn("TODO: make dry");
			content: "";
			display: block;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(darken($orange, 8%), 0.6);
		} 

		.image-text {
			font-family: cocogoose;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			color: $white;

			.heading {
				font-size: 2rem;
				font-weight: 400;
				margin-bottom: 0.5em;
			}
			
			.description {
				font-weight: 300;
				text-align: center;
			}
		}
	}
}


section.partner {
	background-color: lighten($color1, 5%);
	color: $white;

	ul {
		gap: 2rem;
		padding: 2rem;
	}

	ul li {
		display: block;
		filter: grayscale(100%) contrast(30%);
		height: 2rem;
	}

	ul li img {
		object-fit: contain;
		// padding: 1rem;
		// box-sizing: content-box;
	}
}


.copyright-box {
	padding: 1rem;
	gap: 1rem;
	width: 100%;

	.icon {
		width: 4rem;
		height: 4rem;
	}

	.copyright-text {
		line-height: 1.1;
	}

	.copyright-text p:nth-child(1) {
		font-size: 2rem;
		letter-spacing: 0.25rem;
	}

	.copyright-text p:nth-child(2) {
		font-size: 1.5rem;
		letter-spacing: 0.2rem;
	}
	.copyright-text p:nth-child(3) {
		font-size: 0.7rem;
		letter-spacing: 0;
		line-height: 1.8;
	}
}