@use 'global' as *;


.prev-summits {
	.image {
		width: 18rem;
		height: 10rem;
		background-color: yellowgreen; @warn("TODO: remove this");
		position: relative;

		&::before {
			position: absolute; @warn("TODO: make dry");
			content: "";
			display: block;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(darken($orange, 8%), 0.6);
		} 

		.image-text {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			color: $white;

			.heading {
				font-size: 2rem;
				font-weight: bold;
			}
			
			.description {

			}
		}
	}
}


section.partner {
	background-color: lighten($color1, 5%);
	color: $white;

	ul {
		gap: 2rem;
		padding: 2rem;
	}

	ul li {
		display: block;
		filter: grayscale(100%) contrast(30%);
	}

	ul li img {
		height: 3rem;
		object-fit: contain;
		// padding: 1rem;
		// box-sizing: content-box;
	}
}
