@use 'global' as *;

.welcome {
  align-items: flex-start;
  color: $color1;
}

.more-button {
  @extend .box;
  @extend .flex;
  @extend .flex-center;
  width: 100%;
  padding: 1rem 0;
  gap: 0.4rem;
}


section.main-program {
  background-color: #272a31;
  background-image: url("../images/icons/x.svg");

  h2 {
    color: $white;
  }

  button {
    background-color: #ec5242;
    color: white;
  }

}

.card-container {
  @extend .flex-column;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
}

section.main-program .card {
  background-color: rgba($white, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
  width: 100%;
  border-radius: 0.1em;

  .icon {
    width: 4rem;
    height: 4rem;
    flex: 0 0 auto;
  }
  .description {
    color: white;
    font-size: 0.8rem;
    line-height: 1.5;
  }
  .heading {
    font-size: 1.4rem;
    color: #ec5242;
    font-weight: bold;
    width: 10rem;
  }
}

section.featured-speakers .card-container {
  padding-bottom: 5rem;
}

section.featured-speakers .card {
  display: flex;
  background-color: rgba($white, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
  width: 100%;
  border-radius: 0.1em;

  .image {
    width: 10rem;
    height: 10rem;
  }

  .image-container {
    background-image: url("../images/checkerboard.png");
    background-size: 40%;
    background-repeat: no-repeat;

    position: relative;
    img {
      position: absolute;
      width: 90%;
      height: 90%;
      bottom: 0;
      right: 0;
    }
  }

  .content {
    .description {
    }

    .heading {
      font-style: italic;
      color: $orange;
      position: relative;
      padding-bottom: 1.2em;
      padding-top: 0.5em;
      margin-bottom: 1em;

    }
    .heading::after {
      @extend %pseudo;
      bottom: 0;
      left: 0;
      height: 0.2em;
      width: 2em;
      background-color: $color3;
    }
  }
}