@use 'global' as *;

.welcome {
  align-items: flex-start;
  color: $color1;

  h1 {
    background: url("https://images.unsplash.com/photo-1501386761578-eac5c94b800a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80");
  }
}

.featured-speakers .card {
  display: flex;
}

.featured-speakers .card .image {
  width: 10rem;
  height: 10rem;
}

.more-button {
  @extend .box;
  @extend .flex;
  @extend .flex-center;
  width: 100%;
  padding: 1rem 0;
}


section.main-program {
  background-color: #272a31;
  background-image: url("../images/icons/x.svg");

  h2 {
    color: $white;
  }

  button {
    background-color: #ec5242;
    color: white;
  }

}

.card-container {
  @extend .flex-column;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
}

section.main-program .card {
  background-color: rgba($white, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
  width: 100%;
  border-radius: 0.1em;


  .icon {
    width: 4rem;
    height: 4rem;
    flex: 0 0 auto;
  }
  .description {
    color: white;
    font-size: 0.8rem;
    line-height: 1.5;
  }
  .heading {
    font-size: 1.4rem;
    color: #ec5242;
    font-weight: bold;
    width: 10rem;
  }
}
